@charset "UTF-8";
.head {
  color: #f7f8ee;
  height: 300px;
  padding-top: 100px;
  background: #f07057;
  text-align: center; }

.navbar {
  background: #ffffff !important;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4); }
  .navbar .collapse .nav > .article > a {
    padding-left: 15px !important;
    border-left: 0 !important; }

body {
  position: relative; }

.affix-top {
  position: relative; }

.affix {
  top: 0;
  width: 262px; }

.affix, .affix-bottom {
  width: 262px; }

.affix-bottom {
  position: absolute; }

.nav .nav {
  display: none; }

/*闭合*/
.nav > .active > a {
  padding-left: 18px;
  font-weight: 700;
  color: #563d7c;
  background-color: transparent;
  border-left: 2px solid #563d7c; }

.nav .nav > .active > a {
  padding-left: 38px;
  font-weight: 600; }

.nav .active .nav {
  display: block; }

/*开启*/
.nav .nav a {
  font-weight: normal;
  font-size: .85em;
  padding-left: 40px;
  padding-top: 4px;
  padding-bottom: 4px; }

/*

.nav .nav .active span,
.nav .nav .active:hover span,
.nav .nav .active:focus span {
  display: none;
}*/
.post {
  padding: 15px 35px 35px 35px;
  background: #fff;
  margin-bottom: 35px; }

.xy-center .out {
  width: 200px;
  height: 200px;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center; }
.xy-center .in {
  width: 50px;
  height: 50px;
  background-color: #555; }
.xy-center .out1 {
  width: 200px;
  height: 200px;
  background-color: #eee;
  position: relative; }
.xy-center .in1 {
  width: 50px;
  height: 50px;
  background-color: #555;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
.xy-center .out2 {
  width: 200px;
  height: 200px;
  background-color: #eee;
  position: relative; }
.xy-center .in2 {
  width: 50px;
  height: 50px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  background-color: #555; }

.coverage .block {
  background: url("../images/logo.png") no-repeat 5% 99%;
  /*    background: no-repeat;
      background-position-x: 0;
      background-position-y: 50%;*/
  color: #ffffff;
  padding: 50px;
  font-size: 20px;
  z-index: 1;
  position: relative; }
.coverage .overlay {
  position: absolute;
  left: 0;
  top: 0;
  background: dodgerblue;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  z-index: -1; }

.coverage1 .block {
  background: url("../images/coveragel1.jpg") no-repeat;
  color: #ffffff;
  position: relative;
  z-index: 1; }
.coverage1 .block:before {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  content: ""; }

/*斜标（丝带）*/
.ribbon1 .box {
  overflow: hidden;
  padding: 4rem;
  position: relative;
  color: #fff;
  background: linear-gradient(to right, rgba(0, 191, 255, 0.7), rgba(25, 113, 255, 0.62)); }
  .ribbon1 .box .ribbon {
    position: absolute;
    display: inline-block;
    background-color: rgba(255, 2, 200, 0.7);
    box-shadow: 1px 2px 20px 1px #fff;
    padding: 0.15rem 2rem;
    color: #fff;
    left: -1.8rem;
    top: 0.8rem;
    transform: rotate(-45deg); }

/*消息微章*/
/*分页*/
.pagination {
  display: flex;
  list-style: none;
  padding-left: 0;
  /* modifier */ }
  .pagination .pagination__link {
    position: relative;
    padding: 0.5rem 0.75rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-left: -1px;
    display: block;
    text-decoration: none;
    line-height: 1.2; }
  .pagination .pagination__link:hover {
    background-color: rgba(0, 0, 0, 0.1); }
  .pagination .pagination__item:first-child .pagination__link {
    border-bottom-left-radius: .25rem;
    border-top-left-radius: .25rem;
    margin-left: 0; }
  .pagination .pagination__item:last-child .pagination__link {
    border-bottom-right-radius: .25rem;
    border-top-right-radius: .25rem; }
  .pagination .pagination__item.active .pagination__link {
    z-index: 1;
    color: #fff;
    background-color: rgba(0, 0, 255, 0.7);
    border-color: rgba(0, 0, 255, 0.7); }
  .pagination .pagination__item.disabled .pagination__link {
    color: rgba(0, 0, 0, 0.5);
    pointer-events: none; }
  .pagination .pagination--center {
    flex-direction: row;
    justify-content: center; }
  .pagination .pagination--right {
    flex-direction: row;
    justify-content: flex-end; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  background: #EBEBEB; }

.clearfix:after {
  clear: both;
  content: '';
  display: block; }

.post h1, h2 {
  padding-top: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee; }

.highlight {
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px; }

xmp {
  overflow: auto;
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0px; }

footer {
  background: #111;
  font-size: 13px;
  text-align: center;
  color: #555555;
  padding-top: 28px;
  padding-bottom: 28px;
  border-top: 1px solid #303030; }

/*# sourceMappingURL=app.css.map */
